# BildeBua settings (.env)
# Environment variables are prefixed with BILDEBUA_ and use __ for nesting.

# General
BILDEBUA_STATIC_FOLDER_NAME=static

# Albums
BILDEBUA_ALBUMS__FORCED_ALBUM=
BILDEBUA_ALBUMS__ALBUMS_DIR=backend/static/albums

# QR codes
BILDEBUA_QR_CODES__USE_CENTER_IMAGES=true

# Wifi QR code (required fields if enabled)
BILDEBUA_WIFI_QR_CODE__ENABLED=false
BILDEBUA_WIFI_QR_CODE__WIFI_NAME=
BILDEBUA_WIFI_QR_CODE__PROTOCOL=
BILDEBUA_WIFI_QR_CODE__PASSWORD=
BILDEBUA_WIFI_QR_CODE__DESCRIPTION=

# Camera (supported values: dummy, rpicam, dslr, webcam)
BILDEBUA_CAMERA__CAMERA_TYPE=dummy
BILDEBUA_CAMERA__PREVIEW_SECONDS=3
BILDEBUA_CAMERA__OVERLAY_IMAGE=smil # (supported values: smil, smil_for_faen)
BILDEBUA_CAMERA__DSLR_PREVIEW_ISO=4000
BILDEBUA_CAMERA__DSLR_CAPTURE_ISO=200
BILDEBUA_CAMERA__VERBOSE_ERRORS=true

# Dummy config (ikke nødvendig, brukes til testing)
BILDEBUA_CAMERA__DUMMY_CONFIG__WIDTH=1200
BILDEBUA_CAMERA__DUMMY_CONFIG__HEIGHT=800
BILDEBUA_CAMERA__DUMMY_CONFIG__NUMBER_OF_CIRCLES=80
BILDEBUA_CAMERA__DUMMY_CONFIG__MIN_CIRCLE_RADIUS=30
BILDEBUA_CAMERA__DUMMY_CONFIG__MAX_CIRCLE_RADIUS=80
BILDEBUA_CAMERA__DUMMY_CONFIG__SHOULD_FAIL=false
BILDEBUA_CAMERA__DUMMY_CONFIG__ERROR_MESSAGE=This is a test error message
